/* Stili CSS per la pagina */
.layout {
    width: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "img"
        "footer";
    grid-template-rows: auto 95% auto ;
    grid-template-columns: auto;
    grid-auto-flow: row dense;
}

.header {
    grid-area: header;
    background-color: #6a8047;
    padding: 20px;
    text-align: center;
}

.header h1{
    font-size:60px;
    color: white;

}
.header p{
    font-size:30px;
    color: white;
}


nav {
    background-color: #9cbd69;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #6a8047;
}

.img{
    grid-area: img;
    background-image: url('../image/home.jpeg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    text-align: center;
}

.img h1{
    font-size: 50px;
    color: white;
}

.img p{
    font-size: 30px;
    color: white;
}

.footer{
    grid-area: footer;
    background-color: #6a8047;
    padding: 20px;
    text-align: center;
}